{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "10"
                },
                "useBuiltIns": true
            }
        ]
    ],
    "plugins": ["transform-class-properties", "babel-plugin-transform-object-rest-spread"]
}
